version: 0.0.{build}
environment:
  matrix:
#    - nodejs_version: 6
#      platform: x64
#
#    # - nodejs_version: 7
#    #   platform: x86
#
#    - nodejs_version: 7
#      platform: x64
#
#    - nodejs_version: 8
#      platform: x64
#
#    - nodejs_version: 9
#      platform: x64
#
#    - nodejs_version: 10
#      platform: x64

    #   - nodejs_version: 12
    #     platform: x64

    - electron_version: "1.6.10"
      nodejs_version: 6
      platform: x64

    - electron_version: "2.0.16"
      nodejs_version: 8
      platform: x64

    - electron_version: "4.0.3"
      nodejs_version: 10
      platform: x64


    - electron_version: "4.2.2"
      nodejs_version: 10
      platform: x64

    - electron_version: "5.0.2"
      nodejs_version: 12
      platform: x64

    - electron_version: "6.0.0"
      nodejs_version: 12
      platform: x64

    - electron_version: "7.1.2"
      nodejs_version: 12
      platform: x64

    - electron_version: "1.6.10"
      nodejs_version: 7.4
      platform: x86

matrix:
  fast_finish: false
  allow_failures:
    - electron_version: "4.2.2"
image:
#  - Visual Studio 2013
  - Visual Studio 2015
install:
  - ps: Install-Product node $env:nodejs_version x64
  # Sets Windows 7.1 SDK env vars.
  - '"C:\Program Files\Microsoft SDKs\Windows\v7.1\Bin\SetEnv.cmd" /x64'
  # Prepend 2015 and 2013 tools. Harmless when the path for the other version doesn't exist.
  - set "PATH=%ProgramFiles(x86)%\MSBuild\14.0\Bin;%ProgramFiles(x86)%\MSBuild\12.0\Bin;%PATH%"
  - '"C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat" x64'
  # Upgrade npm to latest
  - npm install --loglevel error -g npm
  - set "PATH=%APPDATA%\npm;%PATH%"
  - node -v
  - npm -v
  - npm install -g --loglevel error node-gyp
  # Put GTK in C:/
  - curl -fLsS -o "gtk.zip" "http://ftp.gnome.org/pub/GNOME/binaries/win64/gtk+/2.22/gtk+-bundle_2.22.1-20101229_win64.zip"
  - 7z x gtk.zip -oGTK > nul
  - mv GTK/ C:/
  - curl -fLsS -o "libjpeg.exe" "https://downloads.sourceforge.net/project/libjpeg-turbo/1.5.2/libjpeg-turbo-1.5.2-vc64.exe"
  - .\libjpeg.exe /S
  - npm install --target=4.2.2 --runtime=electron
build: off
test_script:
  - npm i -g node-gyp
  - node-gyp configure
  - npm i -g mocha
  - mocha test/*.test.js
